body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(90, 63, 63);
}


.container > h1 {
  display: flex;
  justify-content: center;
  color: rgb(104, 104, 192);
}

.home-page{
  display: flex;
  justify-content: space-evenly;
  margin-top: 23rem;
}

.link{
  font-size: 3rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(104, 104, 192);
  color: whitesmoke;
  padding:8px;
  text-decoration: none;
}

.link:hover{
  background-color: rgb(25, 25, 104);
}